@import url('https://fonts.googleapis.com/css2?family=Lexend:wght@400;700&display=swap');

:root{
    --primary-color:#6BF4F3;
}

body{
    font-family: 'Lexend', sans-serif;
}
/** container **/
.container {
    padding-left: 1rem;
    padding-right: 1rem;
}

.container-centered{
    max-width: 900px;
    margin: auto;
}

/* hr */
hr{
    margin: 2rem 0rem;
}

/** links **/
.link{
    text-decoration: none;
    padding: 0.5rem 1rem;
}
.link-primary{
    background-color: var(--primary-color);
    border-radius: 00.5rem;
    color: purple;
}
.link-secondary{
    color:purple;
    border-radius: 0.5rem;
    border: 1px solid var(--primary-color);
}

/* list */
.list-non-bullet{
    list-style: none;
}
.list-item-inline{
    display: inline;
    padding: 0rem 0.5r;
}

/* navigation */
.navigation{
    background-color: var(--primary-color);
    color: purple;
    padding: 1rem;
    border-bottom-left-radius: 1rem;
}

.navigation .nav-brand{
    font-weight: bold;
    font-size: 1.1rem;
}

.navigation .nav-pills{
    text-align: right;
}

.navigation .link{
    color: purple;
}

.navigation .link-active{
    font-weight: bold;
}
